body {
    background-color: rgb(66, 220, 251);
}
h1, h2 {
    text-align: center;
}
table {
    margin: 0 auto;
    width: 30%;
    height: 30%;
}
table, tr, td{
    border-style: solid;
    border-color: black;
}
th {
    border-style: solid;
    border-color: black;
    background-color: lightsalmon;
}